<h2><%= @journal.journalized.to_s %></h2>
<p><%= authoring @journal.created_on, @journal.user, :label => :label_updated_time_by %></p>

<pre class="text-diff"><%= @diff.to_html %></pre>

<p><a href="javascript:history.back()"><%= l(:button_back) %></a></p>

<% html_title @journal.journalized.to_s %>
